nav {
    margin: auto;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-contents {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-contents ul {
    display: flex;
    list-style-type:none; 
    justify-content: space-evenly;
    /* width: 100%;  */
    padding: 0;
    margin: 0;
}
.nav-contents li {
    align-self: center;
}

.nav-contents li a {
    color: #ababb7;
    font-size: 20px;
    padding: 10px 15px;
    width: 20%;
}

.nav-contents li a {
    text-decoration-line: none;
}

.nav-contents a:visited {
    color: #a9a6a6;
}

.nav-contents li a:hover{
    text-decoration-line: none;
    color: #fff;
    cursor: pointer;
    transition: 100ms color cubic-bezier(0.4, 0, 0.6, 1);
}

.logo {
    height: 50px;
    width: 50px;
    margin:7px 0;
}

@media (max-width: 768px){
    .nav-contents{
        display: flex;
        transition: all ease 2s;
    }
    .toggle-open{
        display: block;
    } 
    .toggle-close {
        display: none;
    }
    .nav-contents.toggle-none li:nth-child(n+2){
        display: none;
    }
    .nav-contents.toggle-display li:nth-child(n+2){
        display: block;
    }

    .nav-contents ul {
        flex-direction: column;
    }
    .nav-contents li{
        align-self: auto;
    }
    .nav-contents span {
        background-size: cover;
        height: 30px;
        width: 30px;
        filter: invert(1);
        align-self: center;
        margin-right: 16px;
        position: absolute;
        top: 16px;
        right: 0;
    }
    
    span.menu-toggle {
        background-image: url(https://d1bx69z06fa2ip.cloudfront.net/menu.svg);
    }
    span.menu-close {
        background-image: url(https://d1bx69z06fa2ip.cloudfront.net/close.svg);
    }
    
    .nav-contents span:hover {
        filter: invert(0.8);
    }
}