#footer {
  color: #ababb7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0 0 0;
}

.sections {
  display: flex;
  margin: 16px;
}
dt {
  font-weight: bold;
}
dt a{
  color: #dedee4;
  text-decoration-line: none;
}
dt a:hover {
  color: white;
  cursor: pointer;
  text-decoration-line: underline;
}

.built-with {
  display: flex;
}
dd {
  margin-left: 0px;
  margin-bottom: 16px;
}

.attribute-icons{
  font-size: 12px;
  margin-bottom: 10px;
}

.copyright-statement {
  margin-bottom: 8px;
}